.photos__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 431px));
  gap: 32px;
  justify-content: center;
}

.photos__link {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

.photos__image {
  display: block;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100%;

  &:hover {
    opacity: 0.8;
  }


  &:active {
    opacity: 0.5;
  }
}

.photos__id-wrapper {
  margin: 0;
}
